<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.webanion.androidgmutils">

    <!-- Permissions -->
    <!-- Use tools:node="merge" to avoid duplicate permission conflicts -->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" tools:node="merge" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" tools:node="merge" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="merge" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" tools:node="merge" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" tools:node="merge" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="merge" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="merge" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" tools:node="merge" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" tools:node="merge" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" tools:node="merge"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" tools:node="merge"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" tools:node="merge" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:node="merge" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:node="merge" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:node="merge" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:node="merge" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" tools:node="merge" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning"> <!-- Suppress Google App Indexing warning -->

        <activity android:name="com.webanion.androidgmutils.screenrecording.ScreenRecordingActivity"
            android:theme="@style/TransparentActivityTheme"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:exported="true"
            android:launchMode="singleTop" />


        <!-- Notification Listener Service -->
        <service
            android:name="com.webanion.androidgmutils.notification.AGUNotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- Firebase Notification Listener Service -->
        <service
            android:name="com.webanion.androidgmutils.fbnotification.FBNotificationListener"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
              <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!--Accessibility Listener Service -->
        <service
            android:name="com.webanion.androidgmutils.accessibility.AGUAccessibilityListener"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>


        <!-- Background Task Service 1 -->
        <service
            android:name="com.webanion.androidgmutils.fbnotification.FBNotificationListenerHeadlessTaskService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            android:stopWithTask="false"
            tools:node="merge"/>

        <!-- Background Task Service 2 -->
        <service
            android:name="com.webanion.androidgmutils.notification.AGUNotificationListenerHeadlessJsTaskService" android:stopWithTask="false"
            tools:node="merge" />

        <!-- Background Task Service 3 -->
        <service
            android:name="com.webanion.androidgmutils.accessibility.AGUAccessibilityListenerHeadlessJsTaskService" android:stopWithTask="false"
            tools:node="merge" />

        <!-- Background Task Service 4 -->
        <service
            android:name="com.webanion.androidgmutils.screenrecording.ScreenRecordingHeadlessTaskService" android:stopWithTask="false"
            tools:node="merge" />

        <!-- Boot Receiver (Auto-start on boot) -->
        <receiver
            android:name="com.webanion.androidgmutils.notification.AGUNotificationBootupReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            tools:node="merge"> <!-- Merge this receiver if it exists in the app's manifest -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="${applicationId}.RESTART_SERVICE"/>
                <action android:name="android.intent.action.RESTART"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
          android:name="com.webanion.androidgmutils.fbnotification.FBNotificationBootupReceiver"
          android:enabled="true"
          android:exported="true">
          <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
            <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            <action android:name="${applicationId}.RESTART_SERVICE"/>
            <action android:name="android.intent.action.RESTART"/>
          </intent-filter>
        </receiver>

        <receiver
          android:name="com.webanion.androidgmutils.accessibility.AGUAccessibilityBootupReceiver"
          android:enabled="true"
          android:exported="true">
          <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
            <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            <action android:name="${applicationId}.RESTART_SERVICE"/>
            <action android:name="android.intent.action.RESTART"/>
          </intent-filter>
        </receiver>

        <receiver
          android:name="com.webanion.androidgmutils.screenrecording.ScreenRecordingBootupReceiver"
          android:enabled="true"
          android:exported="true">
          <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
            <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            <action android:name="${applicationId}.RESTART_SERVICE"/>
            <action android:name="android.intent.action.RESTART"/>
          </intent-filter>
        </receiver>

    </application>
</manifest>
